.about {
    
    .doctor-legend {
        margin-top: 4rem;
    }
    // .doctor-portfolio,.assistant-doctor-col1,.assistant-doctor-col2 {
    //     background-color: #EAEAEA;
    //     // color: white;
    // }
    
}
.book-slot{
    color:#ffffff; 
    text-transform: capitalize;
    box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    outline: 0;
    border: none;
}

