.contact {
    .secondary {
        background-color: #ffffff;
        h2 {

            color: green !important;
        }
        button {
            background-color: green;
            outline: 0;
            border: none;
            a {
                color: #ffffff;
            }
        }
    }
}