.doctor {
    background-color: #F7F7F7;
    // background-image: url(/assets/media/doctor_background.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;
    // padding-bottom: 4rem 0;
    padding: 2rem 0;
    color: #333C4E;
    
}
.doctor-legend {
    display: grid;
    justify-content: center;
    color: #333C4E;
    img{
        height: 200px;
        justify-self: center;
    }
    h2{
        border-bottom: 2.5px solid green;
        padding-bottom: 2rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 700;
        justify-self: center;
    }
    p {
        padding: 2rem 0;
        font-size: 1.25rem;
        
    }
}

.doctor-portfolio {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    box-shadow: 5px 5px 11px 0px rgba(0,0,0,0.75);
    border-radius: 25px 25px 25px 25px;
    padding: 1.5rem;
    // background-color: rgb(177, 214, 9);
    // color: black;
    background-color: #EAEAEA;
    

  
    .doctor-info {
        align-self: center;
        display: grid;
        padding: 0 2rem;
        p {
            padding: 2rem 0;
        }
        h2 {
            font-size: 1.5rem;
            font-weight: 600;
        }
        button {
            justify-self: center;
            border-radius: 1rem;
            border: 1px solid green;
            padding: 0.5rem 3rem;
            background-color: green;
            justify-content: center;
        }
        a{
            color: #ffffff;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}

.doctor-image {

    img{
        width: 100%;
    }
    h2,h3,h4{
        font-weight: 600;
    }
}
.assistant-doctor {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    // height: 200px;
    grid-gap: 40px;
    padding: 2rem 0;
}
.assistant-doctor-col1,.assistant-doctor-col2 {
    background-color: #EAEAEA;
    padding: 2rem;
    box-shadow: 5px 5px 11px 0px rgba(0,0,0,0.75);
    border-radius: 25px 25px 25px 25px;
    img {
        width: 100%;
        height: 450px;
        
    }
    .assistant-doctor-portfolio {
        h2,h3{
            font-weight: 600;
            text-align: center;
        }
    }
    
}
.doctor {
    .staff-member{
        padding: 2rem;
        background-color: #EAEAEA;
        box-shadow: 5px 5px 11px 0px rgba(0,0,0,0.75);
        border-radius: 25px 25px 25px 25px;
        
        img {
            width: 100%;

        }
        h2 {
            font-weight: 600;
            text-align: center;
        }
    }
}
@media all and (max-width: 768px) {
    .doctor-portfolio {
        grid-template-columns: 1fr !important;
    }
    .doctor {
        .container {
            padding: 0 1.5rem;
        }
    }
    .doctor-info {
        padding: 0 !important;
    }
    .assistant-doctor {
        grid-template-columns: 1fr;
    }
}

@media all and (min-width:770px) and (max-width:1024px) {
    .doctor {
        .container {
            padding: 0 2rem;
        }
    }
}