*,
*::before,
*::after{
    box-sizing: border-box;
}
body {
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    // line-height: 1.5;
    // overflow-x: hidden !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}
.margin-top {
    margin-top: 4rem;
}

// $COLOR_BLACK : #000000;
// $COLOR_GREEN : rgb(0, 128, 0);
// $COLOR_YELLOW : #ffff00;
// $COLOR_WHITE : #ffffff;
// $COLOR_WHEAT : wheat;


@media all and (min-width: 770px) and (max-width: 1024px) {
    .service_page,.contact {
        .header {
            .menu-list {
                top: 0;
            }
        }
    }
} 