.nav-menu {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    ul {
        display: flex;
        align-items: center;
        li{
            margin-left: 1.5rem;
            text-transform: capitalize;
            // font-size: 1rem;
            a{
                text-decoration: none;
                color: black ;
                font-weight: 600;
                font-size: 1.15rem;
            }
        }
    }
}
.header {
    // background-color: white;
    z-index: 1;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    // bottom: 0;
    img{
        height: 3rem;
    }
}

.active a{
    color: green !important;
    font-weight: 800 !important;
}
.toggle,.bars,.close-menu {
    display: none;
}

// dropdown menu
.fa-chevron-circle-down {
    margin-left: 0.5rem;
    cursor: pointer;
}
.menu-list {
    .dropdown {
        position: relative;
        &:hover .sub-menu-list-box {
            display: block;
        }
    }
    .sub-menu-list-box {
        position: absolute;
        display: none;
        padding: 32px 10px 0px 65px;
        left: 133%;
        transform: translateX(-115px);  
    }
    .sub-menu-list {
        display: flex;
        flex-direction: column;
        background-color: rgb(9, 114, 9);
        border-radius: 20px;
        box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.75);
        padding: 10px 20px;
    }
}
.menu-list {
    .sub-menu-items {
        margin-left: 0 !important;
        padding: 5px 0;
        a {
            color: #ffffff;
            font-size: 1rem;
            line-height: 1.2;
            &:hover {
                color: yellow;
            }
        }

    }
}

@media all and (max-width: 768px) {
    .nav-menu {
        padding: 2rem;
        position: relative;
        // transform: translateX(100%);

        ul{
            display: none;
        }
    }
    .bars {
        display: flex;
        align-items: center;
        font-size: 3rem;
    }
    .menu-list {
        background-color: wheat;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        // left: 0;
        li {
            padding: 2rem;
        }
    }
    .close-menu {
        z-index: 2;
        font-size: 2rem;
    }
}

@media all and (max-width:1024px) and (min-width: 769px) {
    .header {
        .container {
            padding: 2rem;
        }
        .menu-list {
           a{
               font-size: 1.5rem;
           }
        }
    }
    .nav-menu {
        padding: 2rem;
        position: relative;
        top: 0;
        // right: -14px;
        ul{
            display: none;
        }
    }
    .bars {
        display: flex;
        align-items: center;
        font-size: 3rem;
    }
    .menu-list {
        background-color: wheat;
        height: 100vh;
        position: absolute;
        top: 0;
        right: -14px;
        li {
            padding: 2rem;
        }
    }
    .close-menu {
        z-index: 2;
        font-size: 2rem;
    }
    

}