.services {
    color: #333C4E;
    img {
        height: 200px;
    }
}

.service-legend {
    display: grid;
    padding: 4rem 0;
    h2,img,p{
        justify-self: center;
    }
    h2 {
        border-bottom: 2.5px solid green;
        margin: 2rem 0;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 600;
    }
    p{
        font-size: 1.25rem;
    }
}

.service-content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
    // background-color: #EAEAEA;
    border-radius: 2rem;
    padding: 2rem;
    img {
        width: 100%;
        // border-radius: 2rem;
    }
}
.mascuskeletal, .nuero,.community,.cardio {
    display: grid;
    padding: 2rem ;
    background-color: #EAEAEA;
    border-radius: 2rem;
    box-shadow: 8px 10px 11px 0px rgba(0,0,0,0.75);

    p, button {
        justify-self: center;
        margin: 1rem 0;
    }
    p {
        font-size: 20px;
    }
    button {
        padding: 0.5rem 2rem;
        border: none;
        border-radius: 2rem;
        font-size: 16px;
        background-color: green;
        color: #ffffff;
    }
}
// 
.card-container {
    cursor: pointer;
    height: 200px;
    perspective: 600;
    position: relative;
    // width: 300px;

  }

.card {
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    width: 100%;
  }
  .card:hover {
    transform: rotateY(180deg);
  }
  .card .side {
    backface-visibility: hidden;
    border-radius: 6px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
    img {
        width: 100%;
    }
  }
  .card .back {
    background-color: green;
    // color: #0087cc;
    // line-height: 150px;
    text-align: center;
    transform: rotateY(180deg);
    p {
        text-align: left;
        padding: 1rem;
        font-size: 0.8rem;
        color: #ffffff;
    }
  }


@media all and (max-width:768px) {
    .service-legend {
        padding: 0 2rem;
    }
    .service-content {
        grid-template-columns:  1fr;
    }
}