.social-links {
    .sticky-container{
        // padding:0px;
        // margin:0px;
        position:fixed;
        right:-22rem;
        // transform: translateX();
        top:30%;
        // width:10rem;
        height: 100vh;
        // z-index: 1100;
    }
    .sticky li{
        background-color: transparent;
        // color:white;
        // height:43px;
        // padding:0px;
        // margin:0px 0px 5px 0px;
        // -webkit-transition:all 0.25s ease-in-out;
        // -moz-transition:all 0.25s ease-in-out;
        // -o-transition:all 0.25s ease-in-out;
        // transition:all 0.25s ease-in-out;

        cursor:pointer;
    }

    .sticky-list {
        a {
            color: #ffffff;
            background: rgba(0, 0,0,0.4);
            font-size: 1.25rem;
            font-weight: 600;
            text-decoration: none;
            display: block;
            margin: 5px;
            padding: 20px;
            width: 25rem;
            text-align: left;
            border-radius: 50px;
            transition: 1s ease-in-out;
            transition-property: transform;
        }
    }
    .sticky-list {
        li a:hover{
            transform: translate(-12rem,0);
        }
    }
    
    .sticky-list {
        i {
            margin-right: 20px;
        }
    }
    // .sticky li:hover{
    //     margin-left:-110px;
    // }
    // .sticky li i{
    //     float: left;
    //     width: 32px;
    //     height: 32px;
    //     margin:5px 4px;
    //     margin-right:5px;
    //     color: #fff;
    // }
    // .sticky li p{
    //     padding-top:5px;
    //     margin:0px;
    //     line-height:16px;
    //     font-size:11px;
    //     white-space: pre;
    //     // text-align: center;
    // }
    // .sticky li p a{
    //     text-decoration:none;
    //     color:#fff;
    //     font-size: 1rem;
    // }
    // .sticky li p a:hover{
    //     text-decoration:underline;
    // }
}


// .social {
//         position: fixed;
//         height: 100vh;
//         display: flex;
//         justify-content: center;
//         flex-direction: column;

    
// }